@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 96%;
  --foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 0%;
  --primary: 351 81% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96%;
  --secondary-foreground: 0 0% 0%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 40%;
  --accent: 351 81% 50%;
  --accent-foreground: 0 0% 100%;
  --destructive: 351 81% 50%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 82%;
  --input: 0 0% 100%;
  --ring: 351 81% 50%;
  --radius: 0.625rem;
}

.dark {
  --background: 0 0% 15%;
  --foreground: 0 0% 98%;
  --card: 0 0% 15%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 15%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 20%;
  --secondary: 0 0% 27%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 27%;
  --muted-foreground: 0 0% 71%;
  --accent: 0 0% 27%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 63% 31%;
  --destructive-foreground: 0 86% 97%;
  --border: 0 0% 27%;
  --input: 0 0% 27%;
  --ring: 0 0% 44%;
  --radius: 0.625rem;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
